version: '2'

services:
  mariadb:
    image: 'docker.io/bitnami/mariadb:10.1-debian-10'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=my_user
      - MARIADB_DATABASE=thatsmybis_1
      - MARIADB_PASSWORD=my_password
    ports:
      - 3306:3306
    volumes:
      - ./:/app

  thatsmybis:
    tty: true
    image: docker.io/pyrodius/thatsmybis-laravel:7.4
    environment:
      - DB_HOST=mariadb
      - DB_USERNAME=my_user
      - DB_DATABASE=thatsmybis_1
      - DB_PASSWORD=my_password
    depends_on:
      - mariadb
    ports:
      - 80:3000
    volumes:
      - ./:/app
    privileged: true # Privileged mode could be required to run this container under Windows