/* Google Calendar overrides */
.te-t {
    white-space: normal !important;
    font-weight: bold !important;
}

.te-s {
    white-space: normal !important;
    font-weight: bold !important;
}
