@font-face {
    font-family: Blizz;
    src: url("../fonts/FrizQuadrata.woff2"), url("../../fonts/FrizQuadrata.woff2");
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

body {
    color:                 #fff !important;
    background-color:      #161523;
    background-image:      linear-gradient(#1c1b3a 0px, #161523 100vh);
    background-repeat:     no-repeat;
    min-height:            100vh;
    font-family: "Segoe UI", Segoe, Arial, sans-serif;
}

.font-blizz {
    font-family: Blizz;
}

.d-inline-grid {
    display: inline-grid;
}

.bg-gradient {
    background: linear-gradient(to top, #473967 20%, #1c1b3a 80%);
}

.container-width-capped {
    max-width: 1200px;
}

.bg-light {
    background-color: #201f3c !important; /* Eh... have to override bootstrap class apparently */
}

.bg-lightest {
    background-color: #242344;
}

.bg-dark {
    background-color: #161523 !important;
}

.discord-link {
    height: 40px;
}

.btn-discord {
    width:200px;
    background-color:#222;
    color:#fff;
}

.h1 {
    font-size: 2.5rem;
}
.h2 {
    font-size: 2.25rem;
}
.h3 {
    font-size: 2.0rem;
}
.h4 {
    font-size: 1.75rem;
}
.h5 {
    font-size: 1.5rem;
}

.text-1 {
    font-size:52px;
}
.text-2 {
    font-size:48px;
}
.text-3 {
    font-size:36px;
}
.text-4 {
    font-size:24px;
}
.text-5 {
    font-size:18px;
}

.text-death-knight {
    color: #c41e3b;
}
.text-druid {
    color: #ff8000;
}
.text-dk {
    color: #c41e3b;
}
.text-hunter {
    color: #9dd367;
}
.text-mage {
    color: #68ccef;
}
.text-paladin {
    color: #e68cab;
}
.text-priest {
    color: #d7d7d7;
}
.text-rogue {
    color: #fff468;
}
.text-shaman {
    color: #4a76ff; /* originally #2359ff */
}
.text-warlock {
    color: #9382c9;
}
.text-warrior {
    color: #bb9b63;
}

.text-druid-important {
    color: #ff8000 !important;
}
.text-hunter-important {
    color: #9dd367 !important;
}
.text-mage-important {
    color: #68ccef !important;
}
.text-paladin-important {
    color: #e68cab !important;
}
.text-priest-important {
    color: #d7d7d7 !important;
}
.text-rogue-important {
    color: #fff468 !important;
}
.text-shaman-important {
    color: #4a76ff !important;
}
.text-warlock-important {
    color: #9382c9 !important;
}
.text-warrior-important {
    color: #bb9b63 !important;
}

.text-link {
    color: #0080ff;
}
.text-cyan {
    color: #30bce0;
}
.text-gold {
    color: #ffb400; /* gold coins */
}
.text-legendary {
    color: #ff8000;
}
.text-epic {
    color: #a335ee;
}
.text-rare {
    color: #0070dd;
}
.text-uncommon {
    color: #1eff00;
}

/* wowhead link colors */
.q1 {
    color: #fff!important;
}
.q2 {
    color: #1eff00!important;
}
.q3 {
    color: #057ffa !important;
}
.q4 {
    color: #ab4aed !important;
}
.q5 {
    color: #ff8000!important;
}
.q6 {
    color: #e5cc80!important;
}
.q7 {
    color: #0cf!important;
}
.q8 {
    color: #0cf!important;
}
.q9 {
    color: #71d5ff!important;
}

.text-tier-1 {
    color:  #02f3ff !important; /* S */
}
.text-tier-2 {
    color:  #20ff00 !important; /* A */
}
.text-tier-3 {
    color:  #f7ff00 !important; /* B */
}
.text-tier-4 {
    color:  #f80 !important; /* C */
}
.text-tier-5 {
    color:  #f00 !important; /* D */
}
.text-tier-6 {
    color:  #ff0078 !important; /* F */
}

.text-muted {
    color: #8e959b !important;
}

.text-discord {
    color: #7289DA;
}

.text-patreon {
    color: #ff5c50 !important;
}

.text-patreon-md {
    color: #fff !important;
}
@media (max-width: 950px) {
    .text-patreon-md {
        color: #ff5c50 !important;
    }
}
.d-patreon-block {
    display: block;
}
@media (min-width: 768px) and (max-width: 950px) {
    .d-patreon-block {
        display: none !important;
    }
}

.font-weight-medium {
    font-weight: 600 !important;
}

.font-strikethrough {
    text-decoration-line: line-through !important;
    text-decoration-color: #8e959b !important;
    text-decoration-thickness: 12%;
}

.smaller {
    font-size: 70%;
}

.nowrap {
    white-space: nowrap;
}

.pre {
    white-space: pre-line;
    white-space: pre-wrap;
}

.code-box {
    max-height: 250px;
    overflow: scroll;
}

.item-tooltip {
    max-width: 680px;
}

.item-notes {
    max-width: 500px;
}

.class-icon {
    border-radius: 50%;
    vertical-align: bottom;
    max-height: 32px;
}

.nav-item.active {
    font-weight: 700 !important;
}

.navbar-brand-guild {
    font-size: 1.25rem;
}
/* Shrink the guild brand when the page is too small to display both that and the full menu */
@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-brand-guild {
        font-size: 1.25vmax;
    }
}

.dropdown-divider { /* bootstrap override */
    border-top-color: #8e8d9c;
}

ul.no-bullet, ol.no-bullet, li.no-bullet  {
    list-style-type: none;
}

ol.lesser-indent, ul.lesser-indent {
    padding-left: 1em;
}

ol.no-indent, ul.no-indent {
    padding-left: 0em;
}

ul.striped > li:nth-of-type(odd), ol.striped > li:nth-of-type(odd) {
    background: #28264f;
}

.fa-li-single { /* For doing fa-li when not wrapped in a fa-ul list */
    left: 1.5em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

div.striped:nth-of-type(odd) {
    background: #ffffff0c;
}

div.striped-light:nth-of-type(odd) {
    background: #28264f;
}

.cursor-pointer {
    cursor: pointer;
}

hr.light {
    border-color: #6c757d;
}

button.link, input[type="submit"].link, input[type="reset"].link {
    background: none;
    color: #007bff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button.link:hover, input[type="submit"].link:hover, input[type="reset"].link:hover {
    color: #0056b3;
    text-decoration: underline;
}

kbd {
    border: 1px solid #6c7988;
    background-color: #2f353c;
}

/* Nice well contrasted backgrounds with the dark theme */
.dropdown-menu {
    background-color: #32305c;
}
.dropdown-menu a, .dropdown-menu a:hover {
    color: #fff;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover {
    background-color: #201f3c;
}
.dropdown-item.selected.active{
    background-color: #161523;
}

.form-control:focus, .btn-light.focus, .btn-light:focus {
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.075), 0 0 8px 1px rgb(255, 128, 0);
}

.form-danger {
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.075), 0 0 8px 1px rgb(255, 0, 0);
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#32305c;
    border-radius:.25rem;
    border:2px solid #6865b9;
    vertical-align: text-bottom;
}
input[type='checkbox']:checked {
    /*can add a custom style if needed*/
}
input[type='checkbox']:checked::before {
    color: #fff;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-family: 'Open Sans', 'Font Awesome 5 Pro', sans-serif;
    content: "\f00c"; /* f00c is check icon */
    transform: translateY(-16%);
}

input.dark, select.dark, textarea.dark {
    background-color: #32305c;
    color: #dbdbdb;
    border-color: #6865b9;
}

input.dark:focus, select.dark:focus, textarea.dark:focus {
    background-color: #3a386d;
    color: #fff;
    border-color: #6460b0;
}

select.dark:disabled, input.dark:disabled, textarea.dark:disabled {
    background-color: #1d1b37;;
    color: #8f8f8f;
    border-color: #5e5ba6;
}

.dropdown-toggle.btn-light {
    background-color: #32305c;
    border-color: #6865b9;
    color: #dbdbdb;
}

.dropdown-toggle.btn-light:active, .dropdown-toggle.btn-light:hover, .dropdown-toggle.btn-light:focus, .show > .dropdown-toggle.btn-light {
    background-color: #3a386d;
    border-color: #6460b0;
    color: #fff;
}

.btn-paypal {
    width: 300px;
    padding-top: 14px;
    background-color: #ffc439;
    color: #009cde;
}

.btn-paypal:hover {
    background-color: #f2ba36;
}

.tag {
    display: block;
    width: max-content;
    color: #fff;
    white-space: nowrap;
    border-style: solid;
    border-width: 0px;
    padding: 0px 10px 3px 10px !important;
    margin: 4px 0px 2px 0px !important;
    border-radius: 14px;
    background-color: #2f2e4e;
}

.bg-tag {
    background-color: #252344;
    color: #fff;
}

.list-group-item {
    background-color: #2f2e4e;
}

.role-circle {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.role-circle-large {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.js-markdown img {
    max-width: 100%;
}

.input-item {
    color: #dbdbdb;
    padding: 1px 4px 5px 3px;
    border: solid 1px #837dea;
    border-radius: 5px;
    margin-bottom: 10px;
}

.move-cursor {
    cursor: move !important;
}

.text-unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.close {
    line-height: 0.8;
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

button.close:hover {
    color: #e5e5e5;
}

.list-timestamp {
    min-width: 100px;
}

.top-divider {
    border-top: 2px solid #4b498c;
    box-shadow: inset 0px 11px 10px -10px #4b498c;
}

/* Button to open the bug report page */
#reportBug {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}

/* DATATABLES OVERRIDE */
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.table {
    color: #c6c6c6;
}
/* Datatables FixedHeader CSS */
table.fixedHeader-floating {
  position: fixed !important;
  background-color: #19182f;
}
table.fixedHeader-floating.no-footer {
  border-bottom-width: 0;
}
table.fixedHeader-locked {
  position: absolute !important;
  background-color: #19182f;
}
@media print {
  table.fixedHeader-floating {
    display: none;
  }
}

/* get rid of the default solid border that clutters things */
.table td {
    border-top: none;
}

/* top border to be used when splitting rows from one another or into 'groups' */
.table tr.top-border td {
    border-top: 2px solid #4b498c;
    box-shadow: inset 0px 10px 10px -10px #4b498c;
}

/* cool top border for th */
.table th {
    border-top: 1px solid #4b498c;
    box-shadow: inset 0px 10px 10px -10px #4b498c;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable tbody tr.odd {
    background: transparent;
}
table.dataTable.stripe tbody tr.even,
table.dataTable tbody tr.even {
    background: #ffffff0c;
}

.table-hover tbody tr:hover {
    color: #fff;
}

/* search box that matches bootstrap styles */
div.dataTables_filter input {
    margin-left: inherit;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* Pagination */
/* Show xx entries */
.dataTables_wrapper .dataTables_length {
    color: #fff !important;
}
/* previous/next page button */
.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
}
/* page button */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 3px 5px 5px 5px !important;
    border-radius: 3px;
}
/* selected page button */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    padding: 3px 5px 5px 5px !important;
    color: #fff !important;
    border: none;
    border-radius: 3px;
    background: #32305c;
}

/* END DATATABLES OVERRIDE */

/* Bootstrap-Slider override */
/* the bar bits that are NOT within the selection */
.slider-track {
    border-top: 1px solid #4a76ff;
    border-bottom: 1px solid #4a76ff;
    background-color: #32305c;
    background-image: -moz-linear-gradient(top, #32305c, #32305c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32305c), to(#32305c));
    background-image: -webkit-linear-gradient(top, #32305c, #32305c);
    background-image: -o-linear-gradient(top, #32305c, #32305c);
    background-image: linear-gradient(to bottom, #32305c, #32305c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32305c', endColorstr='#32305c',GradientType=0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
}
/* the bar bits that are within the selection */
.slider-selection.tick-slider-selection {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #F9F9F9, #F5F5F5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#F5F5F5));
    background-image: -webkit-linear-gradient(top, #F9F9F9, #F5F5F5);
    background-image: -o-linear-gradient(top, #F9F9F9, #F5F5F5);
    background-image: linear-gradient(to bottom, #F9F9F9, #F5F5F5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F5F5F5',GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
}
/* the main circle bit that is selected */
.slider-handle {
  background-color: #02f3ff;
  background-image: -moz-linear-gradient(top, #02f3ff, #02f3ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#02f3ff), to(#02f3ff));
  background-image: -webkit-linear-gradient(top, #02f3ff, #02f3ff);
  background-image: -o-linear-gradient(top, #02f3ff, #02f3ff);
  background-image: linear-gradient(to bottom, #02f3ff, #02f3ff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02f3ff', endColorstr='#02f3ff',GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #02f3ff;
  border: 0px solid #4a76ff;
}
/* the secondary circle bits that are within the selection */
.slider-tick.in-selection {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #F5F5F5, #F9F9F9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#F9F9F9));
    background-image: -webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
    background-image: -o-linear-gradient(top, #F5F5F5, #F9F9F9);
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F9F9F9',GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    filter: none;
    opacity: 0.8;
    border: 0px solid transparent;
}
.slider-tick {
    border: 1px solid #4a76ff;
    border-bottom: 1px solid #4a76ff;
    background-color: #32305c;
    background-image: -moz-linear-gradient(top, #32305c, #32305c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32305c), to(#32305c));
    background-image: -webkit-linear-gradient(top, #32305c, #32305c);
    background-image: -o-linear-gradient(top, #32305c, #32305c);
    background-image: linear-gradient(to bottom, #32305c, #32305c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32305c', endColorstr='#32305c',GradientType=0);
    opacity: 1;
}


/* jQuery datetimepicker override */
.xdsoft_datetimepicker.xdsoft_dark {
    color: #fff !important;
    box-shadow: none !important;
    background: #32305c !important;
    border: 1px solid #6865b9 !important;
    border-radius: 3px;
}
.xdsoft_datetimepicker.xdsoft_dark .xdsoft_label {
    color: #fff !important;
    background: #32305c !important;
}
.xdsoft_datetimepicker.xdsoft_dark .xdsoft_timepicker .xdsoft_time_box > div > div {
    color: #fff !important;
    color: #fff !important;
    background: #32305c !important;
    border: 1px solid #6865b9 !important;
}
.xdsoft_datetimepicker.xdsoft_dark .xdsoft_calendar td, .xdsoft_datetimepicker.xdsoft_dark .xdsoft_calendar th {
    color: #fff !important;
    background: #32305c !important;
    border: 1px solid #6865b9 !important;
}
.xdsoft_datetimepicker.xdsoft_dark .xdsoft_timepicker .xdsoft_time_box {
    border-bottom: 1px solid #6865b9 !important;
    border-top: 1px solid #6865b9 !important;
}
/* selected text*/
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current {
    box-shadow: none !important;
    color: #ff8000 !important;
    border: 1px solid #ff8000 !important;
    font-weight: 900 !important;
}
.xdsoft_datetimepicker.xdsoft_dark .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    box-shadow: none !important;
    color: #ff8000 !important;
    border: 1px solid #ff8000 !important;
    font-weight: 900 !important;
}

.ui-autocomplete {
    /*max-height: 1000px;*/
    /*overflow-y: auto;*/
    /* prevent horizontal scrollbar */
    /*overflow-x: hidden;*/
    /* add padding to account for vertical scrollbar */
    /*padding-right: 20px;*/
}
