body {
    color:                 #fff !important;
    background-color:      #161523;
    background-image:      linear-gradient(#1c1b3a 0px, #161523 100vh);
    background-repeat:     no-repeat;
    min-height:            100vh;
    /*background-attachment: fixed;*/
}

.container-width-capped {
    max-width: 1200px;
}

.bg-darker {
    background-color: #242344;
}

.discord-link {
    height: 40px;
}

.btn-discord {
    width:200px;
    background-color:#222;
    color:#fff;
}

.text-1 {
    font-size:52px;
}
.text-2 {
    font-size:48px;
}
.text-3 {
    font-size:36px;
}
.text-4 {
    font-size:24px;
}
.text-5 {
    font-size:18px;
}

.text-druid {
    color: #ff8000;
}
.text-hunter {
    color: #9dd367;
}
.text-mage {
    color: #68ccef;
}
.text-paladin {
    color: #e68cab;
}
.text-priest {
    color: #d7d7d7;
}
.text-rogue {
    color: #fff468;
}
.text-warlock {
    color: #9382c9;
}
.text-warrior {
    color: #bb9b63;
}

.text-legendary {
    color: #ff8000;
}
.text-epic {
    color: #a335ee;
}
.text-rare {
    color: #0070dd;
}
.text-uncommon {
    color: #1eff00;
}

.text-muted {
    color: #8e959b !important;
}

.font-weight-medium {
    font-weight: 600 !important;
}

.nowrap {
    white-space: nowrap;
}

.form-control:focus {
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.075), 0 0 8px 1px rgb(255, 128, 0);
}

ul.no-bullet, ol.no-bullet, li.no-bullet  {
    list-style-type: none;
}

ol.lesser-indent, ul.lesser-indent {
    padding-left: 1em;
}

ol.no-indent, ul.no-indent {
    padding-left: 0em;
}

.cursor-pointer {
    cursor: pointer;
}

hr.light {
    border-color: #6c757d;
}

button.link, input[type="submit"].link, input[type="reset"].link {
    background: none;
    color: #007bff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button.link:hover, input[type="submit"].link:hover, input[type="reset"].link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.tag {
    display: block;
    width: max-content;
    color: #fff;
    white-space: nowrap;
    border-style: solid;
    border-width: 0px;
    padding: 0px 10px 3px 10px !important;
    margin: 4px 0px 2px 0px !important;
    border-radius: 14px;
    background-color: #2f2e4e;
}

.bg-tag {
    background-color: #2f2e4e;
    color: #fff;
}

.list-group-item {
    background-color: #2f2e4e;
}

.role-circle {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.js-markdown img {
    max-width: 100%;
}

.input-item {
    padding: 1px 4px 5px 3px;
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.move-cursor {
    cursor: move !important;
}

.text-unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.close {
    line-height: 0.8;
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

button.close:hover {
    color: #e5e5e5;
}

/* DATATABLES OVERRIDE */
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.table {
    color: #c6c6c6;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable tbody tr.odd {
    background: transparent;
}

table.dataTable.stripe tbody tr.even,
table.dataTable tbody tr.even {
    background: #ffffff14;
}

.table-hover tbody tr:hover {
    color: #fff;
}
/* END DATATABLES OVERRIDE */

.ui-autocomplete {
    /*max-height: 1000px;*/
    /*overflow-y: auto;*/
    /* prevent horizontal scrollbar */
    /*overflow-x: hidden;*/
    /* add padding to account for vertical scrollbar */
    /*padding-right: 20px;*/
}

.marquee-classic-bg {
    background:url(https://s3.amazonaws.com/aftershock.gg/classic.gif);
    -webkit-animation:270s scroll infinite linear;
    -moz-animation:270s scroll infinite linear;
    -o-animation:270s scroll infinite linear;
    -ms-animation:270s scroll infinite linear;
    animation:270s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
@-webkit-keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
@-moz-keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
@-o-keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
@-ms-keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
@keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
