@font-face {
    font-family: Blizz;
    src: url("../fonts/FrizQuadrata.woff2");
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

body {
    color:                 #fff !important;
    background-color:      #161523;
    background-image:      linear-gradient(#1c1b3a 0px, #161523 100vh);
    background-repeat:     no-repeat;
    min-height:            100vh;
    font-family: "Segoe UI", Segoe, Arial, sans-serif;
}

.font-blizz {
    font-family: Blizz;
}

.bg-gradient {
    background: linear-gradient(to top, #473967 20%, #1c1b3a 80%);
}

.container-width-capped {
    max-width: 1200px;
}

.bg-light {
    background-color: #201f3c !important; /* Eh... have to override bootstrap class apparently */
}

.bg-lightest {
    background-color: #242344;
}

.bg-dark {
    background-color: #161523 !important;
}

.discord-link {
    height: 40px;
}

.btn-discord {
    width:200px;
    background-color:#222;
    color:#fff;
}

.text-1 {
    font-size:52px;
}
.text-2 {
    font-size:48px;
}
.text-3 {
    font-size:36px;
}
.text-4 {
    font-size:24px;
}
.text-5 {
    font-size:18px;
}

.text-druid {
    color: #ff8000;
}
.text-dk {
    color: #c41e3b;
}
.text-hunter {
    color: #9dd367;
}
.text-mage {
    color: #68ccef;
}
.text-paladin {
    color: #e68cab;
}
.text-priest {
    color: #d7d7d7;
}
.text-rogue {
    color: #fff468;
}
.text-shaman {
    color: #4a76ff; /* originally #2359ff */
}
.text-warlock {
    color: #9382c9;
}
.text-warrior {
    color: #bb9b63;
}

.text-druid-important {
    color: #ff8000 !important;
}
.text-hunter-important {
    color: #9dd367 !important;
}
.text-mage-important {
    color: #68ccef !important;
}
.text-paladin-important {
    color: #e68cab !important;
}
.text-priest-important {
    color: #d7d7d7 !important;
}
.text-rogue-important {
    color: #fff468 !important;
}
.text-shaman-important {
    color: #4a76ff !important;
}
.text-warlock-important {
    color: #9382c9 !important;
}
.text-warrior-important {
    color: #bb9b63 !important;
}

.text-link {
    color: #0080ff;
}
.text-cyan {
    color: #30bce0;
}
.text-gold {
    color: #ffb400; /* gold coins */
}
.text-legendary {
    color: #ff8000;
}
.text-epic {
    color: #a335ee;
}
.text-rare {
    color: #0070dd;
}
.text-uncommon {
    color: #1eff00;
}

.text-muted {
    color: #8e959b !important;
}

.text-discord {
    color: #7289DA;
}

.font-weight-medium {
    font-weight: 600 !important;
}

.nowrap {
    white-space: nowrap;
}

.item-tooltip {
    max-width: 680px;
}

.item-notes {
    max-width: 500px;
}

.class-icon {
    border-radius: 50%;
    vertical-align: bottom;
    max-height: 32px;
}

/* Nice well contrasted backgrounds with the dark theme */
.dropdown-menu {
    background-color: #2a2947;
}
.dropdown-menu a, .dropdown-menu a:hover {
    color: #fff;
}
.dropdown-item:hover {
    background-color: #201f3c;
}
.dropdown-item.selected.active{
    background-color: #161523;
}

.form-control:focus {
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.075), 0 0 8px 1px rgb(255, 128, 0);
}

.nav-item.active {
    font-weight: 700 !important;
}

ul.no-bullet, ol.no-bullet, li.no-bullet  {
    list-style-type: none;
}

ol.lesser-indent, ul.lesser-indent {
    padding-left: 1em;
}

ol.no-indent, ul.no-indent {
    padding-left: 0em;
}

ul.striped > li:nth-of-type(odd), ol.striped > li:nth-of-type(odd) {
    background: #ffffff0c;
}

div.striped:nth-of-type(odd) {
    background: #ffffff0c;
}

div.striped-light:nth-of-type(odd) {
    background: #2b2951;
}

.cursor-pointer {
    cursor: pointer;
}

hr.light {
    border-color: #6c757d;
}

button.link, input[type="submit"].link, input[type="reset"].link {
    background: none;
    color: #007bff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button.link:hover, input[type="submit"].link:hover, input[type="reset"].link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.tag {
    display: block;
    width: max-content;
    color: #fff;
    white-space: nowrap;
    border-style: solid;
    border-width: 0px;
    padding: 0px 10px 3px 10px !important;
    margin: 4px 0px 2px 0px !important;
    border-radius: 14px;
    background-color: #2f2e4e;
}

.bg-tag {
    background-color: #2a2947;
    color: #fff;
}

.list-group-item {
    background-color: #2f2e4e;
}

.role-circle {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.js-markdown img {
    max-width: 100%;
}

.input-item {
    padding: 1px 4px 5px 3px;
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.move-cursor {
    cursor: move !important;
}

.text-unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.close {
    line-height: 0.8;
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

button.close:hover {
    color: #e5e5e5;
}

/* DATATABLES OVERRIDE */
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.table {
    color: #c6c6c6;
}

/* get rid of the default solid border that clutters things */
.table td {
    border-top: none;
}

/* top border to be used when splitting rows from one another or into 'groups' */
.table tr.top-border td {
    border-top: 2px solid #4b498c;
    box-shadow: inset 0px 10px 10px -10px #4b498c;
}

/* cool top border for th */
.table th {
    border-top: 1px solid #4b498c;
    box-shadow: inset 0px 10px 10px -10px #4b498c;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable tbody tr.odd {
    background: transparent;
}
table.dataTable.stripe tbody tr.even,
table.dataTable tbody tr.even {
    background: #ffffff0c;
}

.table-hover tbody tr:hover {
    color: #fff;
}

/* search box that matches bootstrap styles */
div.dataTables_filter input {
    margin-left: inherit;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* END DATATABLES OVERRIDE */

.ui-autocomplete {
    /*max-height: 1000px;*/
    /*overflow-y: auto;*/
    /* prevent horizontal scrollbar */
    /*overflow-x: hidden;*/
    /* add padding to account for vertical scrollbar */
    /*padding-right: 20px;*/
}

.marquee-classic-bg {
    background:url(https://s3.amazonaws.com/aftershock.gg/classic.gif);
    -webkit-animation:270s scroll infinite linear;
    -moz-animation:270s scroll infinite linear;
    -o-animation:270s scroll infinite linear;
    -ms-animation:270s scroll infinite linear;
    animation:270s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
@-webkit-keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
@-moz-keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
@-o-keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
@-ms-keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
@keyframes scroll{
    100%{
        background-position:5000px -3000px;
    }
}
